* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  color: #33475B;
}

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.list-inline {
  height: 100%;
  list-style: none;
}
.list-inline li {
  height: 100%;
  padding: 0 10px;
  display: inline-block;
  line-height: 100px;
}
.list-inline li a {
  text-decoration: none;
  color: #33475B;
}
.list-inline li:first-child {
  padding-left: 0;
}
.list-inline li:last-child {
  padding-right: 0;
}
.list-inline li:hover .un-line {
  text-decoration: underline;
}
.list-inline li:hover {
  cursor: pointer;
}

.button {
  font-size: 14px;
  padding: 15px 40px;
  border-radius: 5%;
  border: 1px solid #FE775A;
  background: #FE775A;
  line-height: 25px;
  display: inline-block;
}
li a.button-orange {
  padding: 10px;
  background: #FE775A;
  color: white;
}
.button-orange {
  background: #FE775A;
  color: white;
}
li a.button-white {
  padding: 10px;
  background: #FAFCFE;
  color: #FE775A;
}
.button:hover {
  cursor: pointer;
}

/* header della pagina */
header {
  width: 100%;
}
/* header sopra */
#header-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #33475B;
  background-color: #F4F9FD;
  vertical-align: middle;
  z-index: 2;
}
#header-top-left {
  height: 100px;
  float: left;
}
#header-top-left li a {
  padding-right: 20px;
  border-right: 1px solid #33475B;
}
#header-top-left li:last-child a {
  border-right: 0;
}
#header-top-right {
  height: 100px;
  float: right;
}
#icon-search {
  color: #00A4BD;
}
/* /header sopra */

/* header sotto */
#header-nav {
  width: 100%;
  height: 100px;
  margin-top: 100px;
  background: white;
}
.header-nav-left {
  height: 100%;
  line-height: 120px;
  display: inline-block;
  float: left;
}
.logo {
  height: 40px;

}
.header-nav-right {
  height: 100%;
  display: inline-block;
  float: right;
}

/* /header sotto */
#jumbotron {
  position: relative;
  width: 100%;
  height: 695px;
  background: #FFF4EF;
  background-image: url("../img/jumbotron.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}
#jumbo-left {
  width: 50%;
}
#main-title {
  padding-top: 70px;
  font-size: 52px;
}
#jumbo-left p {
  padding-top: 50px;
}
#jumbo-left a {
  margin-top: 50px;
}
#jumbotron::after {
  content:"";
  position: absolute;
  width: 100%;
  height: 80px;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
  left: 0;
  bottom: 0;
  background: #AFEBE4;
}
/* /header della pagina */
/* .divider {
  width: 100%;
  height: 100px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  background: #afebe4
} */
/* main della pagina */
main {
  width: 100%;
  height: 1000px;
  background: blue;
}
.sezione-1 {
  width: 100%;
  height:33.3%;
  background: purple;
}
.sezione-2 {
  width: 100%;
  height:33.3%;
  background: brown;
}
.sezione-3 {
  width: 100%;
  height:33.3%;
  background: yellow;
}
/* /main della pagina */
footer {
  width: 100%;
  height: 1000px;
  background: green;
}
