* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  color: #33475B;
}

.container {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.list-inline {
  height: 100%;
  list-style: none;
}
.list-inline li {
  height: 100%;
  padding: 0 10px;
  display: inline-block;
  line-height: 100px;
}
.list-inline li a {
  text-decoration: none;
  color: #33475B;
}
.list-inline li:first-child {
  padding-left: 0;
}
.list-inline li:last-child {
  padding-right: 0;
}
.list-inline li:hover .un-line {
  text-decoration: underline;
}
.list-inline li:hover {
  cursor: pointer;
}

.button {
  font-size: 14px;
  padding: 15px 40px;
  border-radius: 5%;
  border: 1px solid #FE775A;
  background: #FE775A;
  line-height: 25px;
  display: inline-block;
}
li a.button-orange {
  padding: 10px;
  background: #FE775A;
  color: white;
}
.button-orange {
  background: #FE775A;
  color: white;
}
li a.button-white {
  padding: 10px;
  background: #FAFCFE;
  color: #FE775A;
}
.button:hover {
  cursor: pointer;
}

/* header della pagina */
header {
  width: 100%;
}
/* header sopra */
#header-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #33475B;
  background-color: #F4F9FD;
  vertical-align: middle;
  z-index: 2;
}
#header-top-left {
  height: 100px;
  float: left;
}
#header-top-left li a {
  padding-right: 20px;
  border-right: 1px solid #33475B;
}
#header-top-left li:last-child a {
  border-right: 0;
}
#header-top-right {
  height: 100px;
  float: right;
}
#icon-search {
  color: #00A4BD;
}
/* /header sopra */

/* header sotto */
#header-nav {
  width: 100%;
  height: 100px;
  margin-top: 100px;
  background: white;
}
.header-nav-left {
  height: 100%;
  line-height: 120px;
  display: inline-block;
  float: left;
}
.logo {
  height: 40px;

}
.header-nav-right {
  height: 100%;
  display: inline-block;
  float: right;
}

/* /header sotto */
#jumbotron {
  position: relative;
  width: 100%;
  height: 695px;
  background: #FFF4EF;
  background-image: url("../img/jumbotron.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}
#jumbo-left {
  width: 50%;
}
#main-title {
  padding-top: 70px;
  font-size: 52px;
}
#jumbo-left p {
  padding-top: 50px;
}
#jumbo-left a {
  margin-top: 50px;
}
#jumbotron::after {
  content:"";
  position: absolute;
  width: 100%;
  height: 80px;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
  left: 0;
  bottom: 0;
  background: #AFEBE4;
}
/* /header della pagina */

/* main della pagina */
main {
  width: 100%;
}
/* prima sezione del main */
.section-1 {
  width: 100%;
  background: #F4F9FD;
}
/* blocco superiore della prima sezione del main*/
#crm-top {
  padding: 50px;
  text-align: center;
}
#crm-top-title {
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 30px;
}
#crm-top-image {
  height: 200px;
}
/* /blocco superiore della prima sezione del main */
/* blocco centrale della prima sezione del main*/
.container-crm {
  width: 60%;
  height: 400px;
  border-radius: 5px;
  margin: 0 auto;
  background: #FFFFFF;
}
#crm-bottom-left {
  width: 40%;
  padding: 70px;
  text-align: center;
  float: left;
}
#crm-left-image {
  display: block;
  width: 50%;
  padding-bottom: 20px;
  margin-left: 25%;
}

#crm-bottom-right {
  width: 60%;
  padding: 90px 0;
  float: left;
}
#crm-bottom-right > h2 {
  padding-bottom: 30px;
}
#crm-bottom-right p {
  padding-bottom: 30px;
}
#horizontal-line {
  width: 400px;
  height: 3px;
  margin-left: 50px;
  margin-bottom: 4px;
  background-color: #33475B;
  display: inline-block;
}
#check {
  padding-right: 10px;
  color: #FE775A;
}
/* /blocco centrale della prima sezione del main*/
/* 3 blocchi inferiori della prima sezione del main */
.container.contain-3blocks {
  background: #F4F9FD;
  height: 650px;  /* avrei voluto non usare la height ma collassa tutto */
}
.contain-3blocks h2 {
  padding: 30px 0;
}
.contain-3blocks p {
  padding-bottom: 40px;
}
.contain-3blocks h3 {
  padding: 30px 18%;
}
.contain-3blocks .button-orange {
  margin-top: 30px;
  margin-left: 18%
}

.container-section-1{
  width: 32%;
  background: #FFFFFF;
  float: left;
}

.container-section1-top {
  width: 100%;
  padding-top: 10px;
  text-align: center;
}
 .images-sec1-main {
   width: 120px;
   height: 120px;
}

.container-section1-bottom {
  width: 80%;
  padding: 10px;
  border-top: 2px solid #33475B;
  margin: 0 auto;
}
.list-sec1-main {
  height: 100%;
  list-style: none;
}
.list-sec1-main .popolar-feature {
  margin-left: 0;
}

#sales-hub {
  margin: 0 2%;
}
/* 3 blocchi inferiori della prima sezione del main */
/* /prima sezione del main */

/* seconda sezione del main */
.section-2 {
  width: 100%;
  padding-bottom: 100px;
  background-image: linear-gradient(to top right, #00ADB6, #00BBA7);
  color: #FFFFFF;
}
#section2-top {
  width: 100%;
  padding: 50px;
  text-align: center;
}
#section2-top-title {
  font-size: 30px;
  padding-bottom: 30px;
}
#section2-bottom-1 {
  border-bottom: 1px solid #FFFFFF;
}
.square-section2 {
  width: 25%;
  height: 200px;
  border-right: 1px solid #FFFFFF;
  text-align: center;
  float: left;
}
.image-square {
  width: 130px;
  height: 40px;
  margin-top: 20px;
}
#section2-bottom .square-section2:last-child {
  border-right: 0;
}
.square-section2 h2 {
 margin: 20px 0;
 font-size: 45px;
 position: relative;
}
.plus {
  font-size: 20px;
  display: inline-block;
  position: absolute;
  top: 15px;
}
/* /seconda sezione del main */

/* terza sezione del main */
.section-3 {
  width: 100%;
  height:33%;
  background: #FFFFFF;
}
#section3-top {
  width: 100%;
}
#section3-top-left {
  width: 50%;
  height: 100%;
  display: inline-block;
}
#number-customers {
  width: 50%;
  height: 100%;
  margin: auto;
}
#number-customers > h2 {
  font-size: 35px;
  padding: 30px 0;
}
#section3-top-right {
  width: 49%;
  height: 100%;
  padding-top: 30px;
  float: right;
}
#section3-top-right-row1 {
  margin-bottom: 20px;
}
.images-section3 {
  width: 24%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
#section3-top-right img {
  height: 25%;
  width: 100px;
}

#section3-bottom {
  width: 100%;
}
#section3-bottom-left {
  width: 50%;
  height: 100%;
  padding: 60px 12px;
  float: left;
}
#section3-bottom-left > h2 {
  font-size: 35px;
  padding: 32px 0;
}
#section3-bottom-left .button-orange {
  margin: 32px 0;
}
#description-button {
  font-size: 12px;
}

#section3-bottom-right {
  width: 50%;
  height: 456px;
  float: right;
  position: relative;
}
#section3-bottom-right img {
  width: 285px;
  height: 340px;
  position: absolute;
  top: 50px;
  right: 0;
}
/* /terza sezione del main */
/* /main della pagina */

/* parte finale della pagina */
footer {
  width: 100%;
  height: 100%;
  background: #32495B;
}

#footer-top {
  width: 100%;
}
.footer-top-containers {
  width: 25%;
  height: 100%;
  float: left;
}
.list-footer {
  list-style: none;
}
.list-footer li {
  padding-bottom: 20px;
  color: #CBD6E2;
}
.list-footer  li:first-child {
  padding: 30px 0;
  color: #FFFFFF
}
#button-footer {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5%;
  border: 1px solid #32495B;
  background: #CBD6E2;
  color: #32495B;
  line-height: 25px;
  display: inline-block;
}
#button-footer:hover {
  cursor: pointer;
}
#list-social-footer {
  list-style: none;
}
#list-social-footer li {
  width: 13%;
  display: inline-block;
}

#footer-middle {
  width: 100%;
  border-bottom: 1px solid #CBD6E2;
}
footer > .container {
  text-align: center;
}
#languages-list {
  list-style: none;
  color: #CBD6E2;
}
#languages-list li {
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 20px;
}

#footer-bottom {
  width: 100%;
  color: #FFFFFF
}
#footer-bottom-left {
  padding: 40px 0;
  text-align: left;
  float: left;
}
#footer-bottom-right {
  float: right;
}
/* /parte finale della pagina */
